<main>
  <mat-card id="Display-Card" appearance="outlined" class="mat-elevation-z4">
    <mat-card-content >
      <p *ngIf="result !== 0" id="Display-Result">{{ result }}</p>
      <p id="Display-Input">{{ input }}</p>
      </mat-card-content>
  </mat-card>
  <section class="Buttons">
  <div class="Operators">
    @for (operator of operators; track $index) {
      <button mat-raised-button (click)="onOperatorClick(operator)">{{ operator }}</button>
    }
  </div>
    <div class="Numbers">
    @for(number of numbers; track $index) {
      <button mat-raised-button (click)="onNumberClick(number)">{{ number }}</button>
    }
    </div>  
    <div class="Actions">
      <button mat-button (click)="onEqualClick()"> = </button>
      <button mat-button (click)="onClearClick()"> C </button>
    </div>
  </section>
</main>